<h2 class="mb-3">Quiz {{ question_id }}: Judge if the given shutter speed matches with the scenario.</h2>

<!-- Image row -->
  <div class="row text-center mb-3">
    {% for i in range(3) %}
      <div class="col">
        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" class="img-fluid" alt="photo {{ i+1 }}">
      </div>
    {% endfor %}
  </div>

  <div class="row text-center mb-3">
    <div class="col">
      <p>1/10s</p>
    </div>
    <div class="col">
      <p>1/1000s</p>
    </div>
    <div class="col">
      <p>1/500s</p>
    </div>
  </div>
<!--True or false-->
<div>[Icons]</div>
  <div class="row text-center mb-3">
    {% for i in range(3) %}
      <div class="col">
        True or False
      </div>
    {% endfor %}
  </div>