/*.image-row,
.choices-row,
.dropzone-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 25px 0;
}

.quiz-image-slot {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: auto;
}
  */

  .dropzone {
    width: 100%;
    height: 40px;
    border: 2px dashed #525B76;  
    background-color: #F3F3F7;    
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    border-radius: 6px;
  }
  

.draggable {
  width: auto;
  height: auto;
  background-color: #F3F3F7;
  box-shadow: 2pt 2pt 4pt black;
  border-radius: 2px;
  line-height: 40px;
  text-align: center;
  cursor: grab;
  font-weight: bold;
}

.used{
    background-color: grey;
    cursor: not-allowed;
}


/*Quiz section Progress bar*/


.bg-gradient-green{
  background: linear-gradient(90deg, #87c6d4 0%, #419FB4 100%);
  color: #000;
}



.quiz-image {
  max-height: 350px;
  object-fit: contain;
}

#submit-btn{
  width: auto;
  height: auto;
  background-color: #F3F3F7;
  border: 1px solid #525B76;
  border-radius: 4px;
  font-family: 'Merriweather', serif;
  /*text-align: right;*/
}

#quiz-question{
  /*font-family: 'Inter', sans-serif;
  font-weight: 600;*/
  padding-top: 4rem;
}

.definition-box {
  min-height: 120px;
  font-size: 0.95rem;
  background-color: #f8f9fa;
  box-shadow: 0 0 4px rgba(0,0,0,0.05);
}
