

.custom-vp-width{
    width: 60vw;
}

.sub-title{
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.cover{
    flex: 1;
    padding: 40px;
    display: flex;
    /*flex-direction: column;*/
    height: 50vh; /* Full viewport height */
}


.triangle-btn {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 40px solid gray;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 10px;
  }

#exp-cover-img{
    width: 80%
}

#overexposure{
    width: 51%
}

#iso-cover-img{
    width: 100%
}

.learn-texts{
    font-size: 1.2rem;
}
  
.triangle{
    width: 60%;
}
