{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aperture.css') }}">
{% endblock %}

{% block content %}

<div class="aperture-centered">
    {% if data.title %}
    <h2>{{ data.title }}</h2>
    {% endif %}
    
    <p style="white-space: pre-line;">{{ data.text | safe }}</p>
    
    <div class="image-centered">
        <img src="{{ url_for('static', filename=data.image) }}" alt="Aperture image" class="img-fluid my-4">
    </div>

    <form method="POST" class="button-container">
        {% if step == 1 %}
            <a href="/learn/aperture/cover" class="btn-secondary">Back</a>
        {% elif step > 1 %}
            <button name="action" value="prev" class="btn-secondary">Back</button>
        {% endif %}

        {% if step < total_steps %}
            <button name="action" value="next" class="btn-next">Next</button>
        {% elif step == total_steps %}
            
            <a href="/learn/shutter_speed/cover" class="btn-next">Next</a>

        {% endif %}
        
        
    </form>
</div>

{% endblock %}
