{% extends "layout.html" %}

{% block content %}
<div class="row align-items-center justify-content-center contents exposure-contents">
  <div class="row first-row ">
    <div class="col-md-1 left-rec-container">
      <div class="left-rec"></div>
    </div>
    <div class="learn-texts col-md-11 align-self-center">
      <span>Exposure</span>&nbspis how bright or dark a photo looks. A value of 0&nbsp<span>exposure value (EV)</span>&nbspmeans optimal exposure based on the camera's metering.&nbsp<span>Positive EV (+1, +2, etc.)</span>&nbspmeans the image will be brighter (overexposed), while&nbsp<span>negative EV (-1, -2, etc.)</span>&nbspmeans it will be darker (underexposed).
    </div>
  </div>
  <br>
      <!-- Image grid -->
  <div class="row image-grid">
    
    <!-- Underexposure -->
    <div class="col-md-4 justify-content-center">
      <div class="row img-container">
        <img src="{{ url_for('static', filename='images/underEV.png') }}" class="img-fluid mb-2" alt="Underexposure">
      </div>
      <br>
      <h6 class="row term"><strong>Underexposure</strong></h6>
      <p class="row explain">The photo is too dark, making it hard to see details in the shadows.</p>
    </div>

    <!-- Normal exposure -->
    <div class="col-md-4">
      <div class="row img-container">
        <img src="{{ url_for('static', filename='images/naturalEV.png') }}" class="img-fluid mb-2" alt="Normal Exposure">
      </div>
      <br>
      <h6 class="row term"><strong>Natural/optimal exposure</strong></h6>
      <p class="row explain">The photo is neither too bright nor too dark—just the right balance of light to show details clearly.</p>
    </div>

    <!-- Overexposure -->
    <div class="col-md-4">
      <div class="row img-container">
        <img src="{{ url_for('static', filename='images/overEV.png') }}" class="img-fluid mb-2" alt="Normal Exposure">
      </div>
      <br>
      <h6 class="row term"><strong>Overexposure</strong></h6>
      <p class="row explain">The photo is too bright, causing details in the lighter areas to be lost.</p>
      <br>
      <div class="row btn-container justify-content-end">
        <div class="col-auto back-btn">
          <a href="/learn/exposure/cover" class="btn btn-primary d-flex justify-content-center align-items-center">Back</a>
        </div>
        <div class="col-auto next-btn">
          <a href="/learn/iso/cover" class="btn btn-primary d-flex justify-content-center align-items-center">Next</a>
        </div>
      </div>
    </div>
</div>

{% endblock %}