{% extends "layout.html" %}


{% block content %}
<div class="cover row  align-items-center">
    <div class="col-md-6">
        <h1>ISO</h1>
        <p class="sub-title">What are those particles in my photos?
</p>
    </div>
        
    <div class="image-content col-md-5 text-center">
        <!-- Right side image - replace with your actual image source -->
        <img src="{{url_for('static', filename='images/iso_cover.png')}}" alt="ISO Example" id="iso-cover-img" >
    </div>
    <div class="col-md-1">
        <a href="/learn/iso/1" class="triangle-btn"></a>
    </div>

</div>
{% endblock %}