{% extends "layout.html" %}


{% block content %}

<div class="row align-items-center justify-content-center contents iso-contents">
    <div class="row first-row ">
        <div class="col-md-1 left-rec-container">
          <div class="left-rec"></div>
        </div>
        <div class="col-md-11 learn-texts align-self-center">
            <span>ISO</span> controls how sensitive the sensor is to light — lower ISO (like 100) means less sensitivity and cleaner images, while higher ISO (like 1600 or more) increases sensitivity but can add grain or noise (yes! That’s the name of the particles in your photo). We usually use a higher ISO in low-light environments.
        </div>
    </div>
    <div class="row img-container justify-content-center">
        <img src="{{ url_for('static', filename='images/iso_sample.png') }}"  alt="ISO Example" id="iso-example">
    </div>
    <div class="next-btn-container row justify-content-end">
        <div class="col-auto back-btn">
            <a href="/learn/iso/cover" class="btn btn-primary">Back</a>
        </div>
        <div class="col-auto next-btn">
            <a href="/learn/aperture/cover" class="btn btn-primary">Next</a>
        </div>
    </div>   
</div>



{% endblock %}