{% extends "layout.html" %}

{% block styles %} 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
{% endblock %}

{% block content %}
<div id="quiz-container" class="container mt-4" data-question-id="{{ question_id }}">
  <!--Progress Bar-->
  <div class="progress my-3" style="height: 24px;">
    <div class="progress-bar bg-gradient-green"
         role="progressbar"
         style="width: {{ progress_percent }}%;"
         aria-valuemin="0" aria-valuemax="100">
      {{ progress_percent }}%
    </div>
  </div>

  <h2 id="quiz-question" class="mb-3">{% block title %}Quiz {{ question_id }}{% endblock %}</h2>
  {% block question_body %}
  <!-- To be filled in by specific quiz templates -->
  {% endblock %}

  <div class="d-flex justify-content-between mt-4">
    <!-- Clear Answer -->
    <button id="clear-answer-btn" class="btn btn-outline-danger">Clear Answer</button>
  
    <!-- Submit -->
    <button id="submit-btn">Submit</button>
  </div>
  
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='js/quiz_core.js') }}"></script>
{% block scripts %}{% endblock %}
{% endblock %}

