{% extends "quiz.html" %}
<!-- DEBUG: this is quiz_7.html MCQ-->

{% block title %}Quiz {{ question_id }}: {{ quiz_questions[question_id] }}{% endblock %}

{% block question_body %}
  
<!-- Scenario row -->
<div id="mcq-scenario">You want to capture the motion of the a car and the focus should be only on the car i.e. other objects are blurred.</div>
<div class="col mb-4">
    <div class="mb-3" data-slot="slot_0" data-value="unselected">
        <button class="btn btn-outline-success mcq-btn" data-value="ISO">ISO</button>
      </div>
      
      <div class="mb-3" data-slot="slot_1" data-value="unselected">
        <button class="btn btn-outline-success mcq-btn" data-value="Shutter Speed">Shutter Speed</button>
      </div>
      
      <div class="mb-3" data-slot="slot_2" data-value="unselected">
        <button class="btn btn-outline-success mcq-btn" data-value="Aperture">Aperture</button>
      </div>
  </div>

<!--
<div class="col mb-4">
         //Option 1
    <div class="row mb-3">
      <div class="btn-group btn" data-slot="slot_0">
        <label class="btn btn-outline-success">
          <input type="radio" name="mcq_q1" value="ISO" autocomplete="off"> ISO
        </label>
      </div>
    </div>

    //Question 2
    <div class="row mb-3">
      <div class="btn-group" data-slot="slot_1">
        <label class="btn btn-outline-success">
          <input type="radio" name="mcq_q2" value="Shutter Speed" autocomplete="off"> Shutter Speed
        </label>
      </div>
    </div>

    //Question 3
    <div class="row mb-3">
      <div class="btn-group" data-slot="slot_2">
        <label class="btn btn-outline-success">
          <input type="radio" name="mcq_q3" value="Aperture" autocomplete="off"> Aperture
        </label>
      </div>
    </div>
</div>
-->
  <!-- MCQ interaction for quiz 7 ?-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="{{ url_for('static', filename='js/quiz_core.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mcq.js') }}"></script>
{% endblock %}