{% extends "layout.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shutter_speed.css') }}">
{% endblock %}

{% block content %}

<div class="shutter-centered">
    {% if data.title %}
    <h2>{{ data.title }}</h2>
    {% endif %}

    <p style="white-space: pre-line;">{{ data.text | safe }}</p>

    {% if data.images|length == 2 %}
    <div class="images-horizontal">
        {% for img in data.images %}
            <img src="{{ url_for('static', filename=img) }}" alt="Shutter speed visual" 
                {% if data.small_right and loop.index == 2 %}class="right-image"{% endif %}>
        {% endfor %}
    </div>

    {% elif data.images|length == 1 and data.note %}
    <div class="images-with-note">
        <div class="single-image">
            <img src="{{ url_for('static', filename=data.images[0]) }}" alt="Shutter speed visual">
        </div>
        <div class="note-box-side">
            <p>{{ data.note }}</p>
        </div>
    </div>

    {% else %}
    <div class="image-centered">
        {% for img in data.images %}
            <img src="{{ url_for('static', filename=img) }}" alt="Shutter speed visual" class="img-fluid my-4">
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" class="button-container">
        {% if step == 1 %}
            <a href="/learn/shutter_speed/cover" class="btn-secondary">Back</a>
        {% elif step > 1 %}
            <button name="action" value="prev" class="btn-secondary">Back</button>
        {% endif %}
        {% if step < total_steps %}
            <button name="action" value="next" class="btn-next">Next</button>
        {% elif step == total_steps %}
            <a href="/learn/exposure_triangle/cover" class="btn-next">Next</a>
        {% endif %}
    </form>
</div>

{% endblock %}
